<a href="https://colab.research.google.com/github/HiteshS15/Hitesh-Intern/blob/main/Python_for_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Tuples
Tuples are expressed as comma-separated elements within parentheses.

In [ ]:

tuple=(1,2,3,4,5,6)

In [ ]:
tuple1=("hi",15,5.0)
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

hi
15
5.0

#Lists
A list is represented with square brackets.
Lists can contain strings, floats, integers.

In [ ]:

list=["hello",15,5.0]
print(list)

['hello', 15, 5.0]

In [ ]:
list=["hello",15,5.0]
print(list[0])
print(list[1])
print(list[2])

#slicing in list
print(list[0:2])

hello
15
5.0
['hello', 15]

In [ ]:
#List is Mutable we can extend or add the elemnts
L=["hello",23,15]
L.extend(["pop",15])
print(L)

['hello', 23, 15, 'pop', 15]

In [ ]:
#delet function in list to delete elements in list
L=["hello",23,15]
del(L[0])
print(L)

[23, 15]

In [ ]:
# split function in list to splits the element in list
L=["ABCD",23,15]
"ABCD".split(",")
print(L)

['ABCD', 23, 15]


#sets
sets only contain particular elements only in sets

In [ ]:

#adding of element in set
set={"hello","Hi","red","blue"}
set.add("hitesh")
print(set)

{'hitesh', 'hello', 'red', 'blue', 'Hi'}

In [ ]:
#remove method in sets using remove function
set={"hello","Hi","red","blue"}
set.remove("hello")
print(set)

{'Hi', 'red', 'blue'}

In [ ]:
#set operations using in
set={"hello","Hi","red","blue"}
print("hello" in set)
print("hitesh" in set)

True
False

#Dictionaries
in this uses curly brackets

The keys are the first elements they must in be immutable and unique. Each key is followed by a value separated by colon
 each keys have seperate values

In [ ]:

dict1={"key1":15,"key2":14,"key3":13}
print(dict1["key1"])
print(dict1["key2"])
print(dict1["key3"])

15
14
13

In [ ]:
#using delete in dictionaries
dict1={"key1":15,"key2":14,"key3":13}
del(dict1["key1"])
del(dict1["key2"])
print(dict1["key3"])

13

In [ ]:
# using in method to check in dictionaries
dict1={"key1":15,"key2":14,"key3":13}
print("key1" in dict1)
print("key4" in dict1)

True
False

#Operators in Python

#Arithmetic Operators


Addition(+)

Subraction(-)

Multiplication(*)

Division(\)

Modulus(%) : it will give reminder

Floor Division(//) : The result is floored to nearst smallest integer

Too the power(**) : to the power accepts two values base & value

In [ ]:
a=6
b=9
c="Hi"
d="how r u"
print(a+b)
print(a*b)
print(a-b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)
print(c+d)

15
54
-3
0.6666666666666666
6
0
10077696
Hihow r u

#Comparision Operators

== Equals to

!= Not Equals to

'>'  Greater than

'<'  Lesser Than

'>=' Greater than or equal to

'<=' Lesser than or equal to

In [ ]:
a=6
b=9
print(a==b)
print(a<b)
print(a>b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

#Assignment Operator

=  ,
 -=  ,
 +=  ,
 /=  ,
 *=  ,

In [ ]:
a=6
a=a+9
print(a)

a=a-9
print(a)

a/=9
print(a)

a*=9
print(a)

15
6
0.6666666666666666
6.0

#Logical Operator

and , or , not   :   works in boolean values

In [ ]:
#and
print(False & False)
print(True & False)
print(False & True)
print(True  & True)

print(2>3 & 2<3)
print(6>9 & 9<6)

False
False
False
True
False
False

In [ ]:
#or
print(False or False)
print(True or False)
print(False or True)
print(True  or True)

print(3>2 or 3<2)
print(3>2 or 3>2)
print(3<2 or 3<2)

False
True
True
True
True
True
False

In [ ]:
#not
print(not False)
print(not True)

print(not(9>6))
print(not(9<6))

True
False
False
True

#Special Operator

in Operator ,
is Operator

In [ ]:
name = "Hitu  Hitesh"

print("H" in name)

print("i" in name)

print("utiH" in name)

True
True
False

#Control Statements

if ,
else ,  
elif

In [ ]:
#if
age = 18
if age == 18:
      print("u r eligible")

u r eligible

In [ ]:
#else
age = 18
if age == 19:
      print("u r eligible")
else:
      print("u r not eligible")

u r not eligible

In [ ]:
#elif
num = int(input())

if num > 0:
  print("positive")
elif num == 0:
  print("zero")
else:
  print("Negative")

0
zero

#while loop

In [ ]:
#defining
i = 1
#condition
while i<=6:
  #print statement
      print("u r the best")

      i=i+1

u r the best
u r the best
u r the best
u r the best
u r the best
u r the best

In [ ]:
i = 1
while i <= 10:
      print(i,end=" , ")
      i=i+1

1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 ,

Printing even numbers in given range

In [ ]:

#initilization
i = 1
#condition
while i <= 10:
      #check for even no
      if i % 2 == 0:
            print(i,end=" , ")
      i=i+1

2 , 4 , 6 , 8 , 10 ,

#For loop

iterator iterable & iterable

In [ ]:
# i :iterator
# range(): iteratable

for i in range(1,11):
      print(i, end=",")

1,2,3,4,5,6,7,8,9,10,

Print multiplication table

In [ ]:
n = int(input())
for i in range(1,11):
      print(i*n,end=",")

10
10,20,30,40,50,60,70,80,90,100,

#Break Continue & Pass Statements

Break : break the flow of program once this condition is applied

Continue : this skips the particular iteration

Pass : to avoid syntax error

In [ ]:
#pass
for i in range(1,11):
      pass

In [ ]:
#Continue
for i in range(1,11):
      if i == 5:
            continue
      print(i,end=",")

1,2,3,4,6,7,8,9,10,

In [ ]:
#break
for i in range(1,11):
      if i == 5:
            break
      print(i,end=",")

1,2,3,4,

#Functions
Functions take some input then produce some output or change.

The function is just a piece of code you can reuse.

In [ ]:
#Len Function
L=[10,20,30,40,50,60,70,80,90]
len(L)

9

In [ ]:
#sum function
L=[10,20,30,40,50,60,70,80,90]
sum(L)

450

In [ ]:
#Sorted function
L=[10,20,50,70,90,30,40,60]
sorted(L)

[10, 20, 30, 40, 50, 60, 70, 90]

#'def'
Defining a Function using 'def' key word

In [ ]:
#defining a function
def greet():
  #This is body of the function

  print("hey have a good day")

  print(greet)

  #calling of function
  greet()

# def Mult

In [ ]:
#using multiple parameter
def Mult(a,b):
  c=a*b
  return c
print(Mult(2,3))
print(Mult(2,"Hi"))

6
HiHi

In [ ]:
#defining a function
def greet():
  #This is body of the function

  print("hey have a good day")

In [ ]:
greet()

hey have a good day

#Parameters Arguments
These are place holders in the function.

When defining them we called as Parameters.

When passing the actual value we call them as Arguments.